opensearch-py==2.7.1
httpx[socks]==0.28.1
pytest==8.4.1
requests==2.32.3
psycopg2-binary==2.9.9
pydantic==2.9.2
python-dotenv==1.0.1
pyarrow==17.0.0
requests[socks]==2.32.3
stem==1.8.2
tree-sitter==0.21.3
tree-sitter-languages==1.10.2
